# Ignore data & outputs, but keep the placeholder .gitkeep files
data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep

# Jupyter checkpoints
**/.ipynb_checkpoints/

# Python caches
__pycache__/
*.py[cod]

# Local helper files
local.txt
tree.txt
/outputs/**
projects/cleaning_ga/data_in/**
